:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
  border: 2px solid red;
}

.header h1 {
  font-weight: 400;
  color: black;
}

.header-btns button:first-child {
  background-color: dodgerblue;
  color: white;
}

.header-btns button:hover {
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}

/* Budget Card */

.budget-container {
  display: grid;
  grid-template-columns: repeat(300px, 1fr);
  gap: 1rem;
  align-items: flex-start;
  border: 1px solid red;
}

.budget-card {
  color: black;
  border: 1px solid grey;
}

.budget-header {
  display: flex;
  justify-content: space-between;
}

.budget-header

/* ////////////// */
/* MEDIA QUERIES */

@media only screen and (max-width: 736px) {
  .header h1 {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .header-btns {
    display: flex;
    align-items: center;
  }

  .header-btns button {
    color: dodgerblue;
    background-color: white;
    font-size: 0.8rem;
    padding: 0.4rem 0.4rem;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid dodgerblue;
  }
}
