:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 6rem;
}

.header h1 {
  font-size: 2.3rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.761);
}

.header-btns button:first-child {
  background-color: dodgerblue;
  color: white;
}

.header-btns {
  display: flex;
  align-items: center;
}

.header-btns button {
  color: dodgerblue;
  background-color: white;
  font-size: 1rem;
  padding: 0.6rem 0.6rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  border: 1px solid dodgerblue;
}

button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 5px;
  cursor: pointer;
}

/* Budget Card */
/* 
.budget-container {
  display: grid;
  grid-template-columns: repeat(300px, 1fr);
  gap: 1rem;
  margin: 0rem 1rem;
  align-items: flex-start;
  border: 1px solid red;
} */

.budget-card.total {
  margin-top: 3rem;
}

.budget-card {
  color: black;
  border: 1px solid lightgray;
  margin: 0 6rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
}

.budget-card button {
  color: grey;
  background-color: white;
  font-size: 0.8rem;
  padding: 0.4rem 0.4rem;
  border-radius: 0.2rem;
  border: 1px solid grey;
}

.budget-card button:first-child {
  color: dodgerblue;
  margin-right: 0.5rem;
  border: 1px solid dodgerblue;
}
.budget-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.budget-header h1 {
  font-weight: 400;
  margin-top: 0;
}

.budget-header span {
  color: grey;
  font-size: 1.2rem;
}

.progress-bar {
  width: auto;
  height: 1rem;
  background-color: rgb(234, 234, 234);
  border-radius: 0.8rem;
  overflow: hidden;
}

.budget-spent {
  height: 1rem;
  transition: width 0.3s ease-in-out;
}

.budget-card--btns {
  text-align: right;
  margin-top: 1rem;
}

.budget-card button:first-child {
  color: dodgerblue;
  background-color: white;
  border: 1px solid dodgerblue;
}

.budget-card button {
  color: lightgray;
  background-color: white;
  border: 1px solid lightgray;
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 60%;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  color: black;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 2rem;
}

.modal-header h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: black;
}

.close-button {
  font-size: 2rem;
  color: red;
  background-color: white;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.modal-input {
  padding: 0 2rem;
}

.modal-input input {
  font-size: 1rem;
  width: 100%;
  background-color: white;
  color: black;
  padding: 0.5rem 0;
  margin-bottom: 0.8rem;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

.modal-input h2 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 0.3rem;
}

.modal-footer {
  padding: 0 2rem;
  text-align: right;
  margin-top: 1rem;
}

.modal-addbtn {
  font-size: 1.2rem;
  color: white;
  background-color: dodgerblue;
  border: 0;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
}

.modal-input select {
  color: black;
  background-color: white;
  font-size: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

/* View Expenses */

.view-expense--container {
  padding: 0 2rem;
}

.view-expense--header {
  display: flex;
  justify-content: space-between;
}

.view-expense--header h1 {
  font-size: 1.5rem;
}

.view-expense--delete {
  color: red;
  background-color: white;
  font-size: 1rem;
  border-radius: 0.2rem;
  padding: 0rem 1rem;
  margin-right: 1rem;
  border: 1px solid red;
}

.view-expense {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 0.4rem;
}

.view-expense h1 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 1rem;
}

.view-expense--amount {
  display: flex;
}

.view-expense--close {
  background-color: white;
  color: red;
  font-size: 1.2rem;
  padding: 0px 10px;
  border: none;
  margin-left: 1rem;
}

.nobudget-msg {
  height: 60vh;
  color: lightgray;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ////////////// */
/* ////////////// */

/* MEDIA QUERIES */

@media only screen and (max-width: 736px) {
  .header {
    display: flex;
    justify-content: center;
    margin: 2rem 2rem;
  }

  .header h1 {
    font-size: 1.6rem;
    margin-right: 1rem;
  }

  .header-btns {
    display: flex;
    align-items: center;
  }

  .header-btns button {
    color: dodgerblue;
    background-color: white;
    font-size: 0.8rem;
    padding: 0.4rem 0.4rem;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid dodgerblue;
  }

  .budget-card {
    margin: 1.2rem;
  }

  .budget-header h1 {
    font-size: 1.1rem;
    font-weight: 400;
  }

  .budget-card button:first-child {
    color: dodgerblue;
    background-color: white;
    font-size: 0.6rem;
    padding: 0.3rem;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid dodgerblue;
  }

  .budget-card button {
    color: grey;
    background-color: white;
    font-size: 0.6rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
    border: 1px solid grey;
  }

  .modal {
    width: 70%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    color: black;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .modal-header h1 {
    font-size: 1.7rem;
    font-weight: 300;
    color: black;
  }

  .close-button {
    font-size: 1.7rem;
    cursor: pointer;
  }

  .modal-input h2 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 0.3rem;
    padding: 0;
  }

  .modal-input input {
    width: 100%;
    font-size: 1rem;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 0.6rem;
    padding: 7px 0px;
  }

  .modal-footer {
    margin-top: 0.3rem;
  }

  .modal-input select {
    color: black;
    background-color: white;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: 0.2rem;
  }

  .modal-addbtn {
    font-size: 1rem;
    background-color: dodgerblue;
    border: 0;
    border-radius: 0.3rem;
    padding: 8px 10px;
  }

  .view-expense {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
  }

  .view-expense h1 {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .view-expense--amount {
    display: flex;
  }

  .view-expense--close {
    background-color: white;
    color: red;
    font-size: 1rem;
    padding: 0px 10px;
    margin-left: 0.5rem;
  }

  .nobudget-msg {
    height: 60vh;
    color: lightgray;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
